.App {
  text-align: center;
  font-family: 'Cairo', 'Dosis', sans-serif;
}

.navbar {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.navbar-brand {
  color: #fbfbfb !important;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  color: #bdc3c7 !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffffff !important;
}

.navbar-toggler {
  border: none;
}




.item {
  transition: all 0.3s ease;
}

.item:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item h3 {
  font-size: 14px;
}



.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: var(--bs-info);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
  animation: bounce 2s infinite;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.scroll-btn:hover {
  background-color: #0dcaf0;
  transform: scale(1.1);
}

.ripple-effect {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.ripple-effect:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-color: rgba(255, 255, 255, 0.3) !important;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}